<STYLE TYPE="text/css">
H1 {font-family: Georgia; font-size: 12pt; line-height: 16pt;}
.abox { font-family: Georgia; font-size: 9pt; padding: 3pt; background-color: #f7e3fb; border: solid #dd63f7; border-style:solid; border-width: 1px; width: 100px}
.bar {border-style:solid; border-color: black; border-width: 1px; border-right-width: 0px; border-left-width: 0px;}
.ctbox { background-color: #d4d8d9; border: solid #000000; border-style:solid; border-width: 1px; }
.h {font-family: Georgia; font-size: 12pt; line-height: 14pt;}
.pollbox { background-color: #FFFFCC; border: solid #fbfb2d; border-style:solid; border-width: 1px; width: 110px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;}
.polln { margin: 3px; }
.pollR {color: red; margin-right: 6px;}
.tin { font-family: verdana; font-size: 8pt;}
.likeb {}
.socText {font-family: verdana; font-size: 10pt; margin-bottom: 2pt; margin-top: 4px; line-height: 14pt;}
.soc {line-height: 5pt; padding: 4px;
background-color: #ede4ff; border: solid #9c54ff; border-style:solid; border-width: 1px; width: 100px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
   font-size: 30px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</STYLE>